<form (ngSubmit)="salvar()">
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Observações:</label>
        <input type="text" class="form-control" name="exampleInputText1" aria-describedby="emailHelp"
            [(ngModel)]="client.obs">
    </div>

    <button type="button" class="btn btn-primary" (click)="lancar(modal1)">Lançar cliente</button> 

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">nome</th>
                <th scope="col">phone</th>
                <th scope="col">cpf</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let adress of client.adress; let i = index">
                <th scope="row">{{ client.id }}</th>
                <td> {{ client.nome }} </td>
                <td> {{ client.phone }} </td>
                <td> {{ client.cpf }} </td>
                <td> <button type="button" class="btn btn-primary" (click)="excluir(adress,i)">Excluir</button> </td>
            </tr>
        </tbody>
    </table>



    <button type="submit" class="btn btn-primary">Salvar</button>
</form>




<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-clientlist [lancar]="true" (retorno)="retornoClientlist($event)" ></app-clientlist>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
