<div class="container">
    <h3 class="alert alert-primary">Sabores!</h3>
     <button type="button" class="btn btn-primary" (click)="adicionar(modal1)">Adicionar</button> 
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let sabor of lista; let i = index">
                        <th scope="row">{{ sabor.id }}</th>
                        <td> {{ sabor.nome }} </td>
                        <td> {{ sabor.descricao }} </td>
                        <td> {{ sabor.preco_adicional}} </td>
                        <td *ngIf="!modoLancamento" > <button type="button" class="btn btn-primary" (click)="editar(modal1, sabor, i)">Editar</button> </td>
                        <td *ngIf="modoLancamento" > <button type="button" class="btn btn-primary" (click)="lancamento( sabor)">Lançar</button> </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>





<ng-template #modal1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
       
        <app-sabordetails [sabor]="objetoSelecionadoParaEdicao" (retorno)="addOuEditarProduto($event)" ></app-sabordetails>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>